
@model Team
<style>
    #edit-form .fa-clone {
        position: absolute;
        cursor: pointer;
        left: 0;
        color: #ff0000;
        border: 1px solid #ff0000;
        border-radius: 5px;
        padding: 3px;
        font-size: 20px
    }
</style>
<div class="uk-modal-dialog">
    <div class="uk-modal-header uk-light">
        <h2 class="uk-modal-title">افزودن عضو جدید</h2>
    </div>
    <div class="uk-modal-body">
        <form id="create-form" asp-action="CreateTeam" asp-controller="Admin" enctype="multipart/form-data" method="post">
            @*<input type="hidden" asp-for="TeamId" />*@
            <div asp-validation-summary="ModelOnly" class="uk-text-danger"></div>
            <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                <div>
                    <span class="fas fa-user"></span>
                    <label asp-for="FullName" class="uk-form-label"></label>
                    <input asp-for="FullName" class="uk-input uk-border-rounded" />
                    <span asp-validation-for="FullName" class="uk-text-danger"></span>
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-position-relative">
                        <span class="fas fa-mail-bulk"></span>
                        <label asp-for="Email" class="uk-form-label"></label>
                        <input asp-for="Email" class="uk-input uk-border-rounded" />
                        <span asp-validation-for="Email" class="uk-text-danger"></span>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-position-relative">
                        <span class="fa fa-phone"></span>
                        <label asp-for="PhoneNumber" class="uk-form-label"></label>
                        <input asp-for="PhoneNumber" class="uk-input uk-border-rounded" />
                        <span asp-validation-for="PhoneNumber" class="uk-text-danger"></span>
                    </div>
                </div>
                <div class="uk-position-relative">
                    <span class="fas fa-star"></span>
                    <label asp-for="Degree" class="uk-form-label"></label>
                    <input asp-for="Degree" class="uk-input uk-border-rounded" />
                    <span asp-validation-for="Degree" class="uk-text-danger"></span>
                </div>
                <div class="uk-position-relative">
                    <span class="fas fa-clone"></span>
                    <label asp-for="Description" class="uk-form-label"></label>
                    <textarea asp-for="Description" class="uk-input uk-border-rounded" style="min-height: 150px"></textarea>
                    <span asp-validation-for="Description" class="uk-text-danger"></span>
                </div>
                <div>
                    <hr />
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-alert-danger" uk-alert>
                        <h3>تـوجه</h3>
                        <p>اگر میخواهید تصویر کاربر را ویرایش کنید از بخش زیر انتخاب کنید. در غیر اینصورت فیلد پایین را خالی ارسال کنید.</p>
                        <div>
                            <div class="uk-grid-medium" uk-grid>
                                <div class="uk-width-auto">تصویر فعلی</div>
                                <div class="uk-width-expand uk-text-center">
                                    <img id="imgTeam" width="120" class="uk-border-rounded uk-box-shadow-medium" src="~/img/team/default.png" />
                                </div>
                            </div>
                            @*@if (string.IsNullOrEmpty(Model.Avatar))
                            {
                                <span>کاربر تصویری برای خود آپلود نکرده است.</span>
                            }
                            else
                            {
                                <div class="uk-grid-medium" uk-grid>
                                    <div class="uk-width-auto">تصویر فعلی</div>
                                    <div class="uk-width-expand uk-text-center">
                                        <img width="120" class="uk-border-rounded uk-box-shadow-medium" src="~/img/team/default.png"/>
                                    </div>
                                </div>
                            }*@
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-text-center">
                    <div>
                        <label class="uk-form-label">تصویر پرسنلی (اندازه مناسب w: 500px * h: 500px)</label>
                    </div>
                    <div uk-form-custom="target: true">
                        <a class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: image"></a>
                        <input id="avatarImage" name="avatarImage" accept=".png,.jpg" type="file" aria-invalid="true">
                        <input class="uk-input uk-form-width-large uk-border-rounded" type="text" placeholder="انتخاب کنید ..." disabled>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="uk-modal-footer uk-text-center">
        <button class="uk-button uk-button-primary" type="button" onclick="$('#create-form').submit()">ثبت اطلاعات</button>
        <button class="uk-button uk-button-danger uk-modal-close" type="button">بازگشت</button>
    </div>
</div>