@model WorkSample
@{
    ViewData["pageId"] = 23;
    ViewData["Title"] = "افزودن نمونه‌کار";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Service> services = (List<Service>)ViewData["WorkSampleServiceId"];
}
@section Links{
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        .selected-service {
            color: #39f !important;
            border-bottom-color: #39f !important
        }
    </style>
}
@section Scripts {
    <script src="~/lib/select2/select2.full.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/js/create-admin-worksample.min.js" asp-append-version="true"></script>
}
<div class="uk-grid-collapse uk-child-width-1-1@s uk-margin-bottom" uk-grid>
    <div class="uk-width-auto@m">
        <ul class="uk-breadcrumb">
            <li><a asp-action="Index" asp-controller="Admin">داشبورد</a></li>
            <li><a asp-action="WorkSample" asp-controller="Admin">نمونه‌کار</a></li>
            <li><span>@ViewData["Title"]</span></li>
        </ul>
    </div>
    <div class="uk-width-expand@m uk-flex uk-flex-left">
        <a class="uk-button uk-button-secondary" asp-action="WorkSample">
            <span>بازگشت</span><i class="uk-margin-right fa fa-arrow-left"></i>
        </a>
    </div>
</div>
<form id="create-form" asp-action="CreateWorkSample" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="uk-text-danger"></div>
    @*<input type="hidden" asp-for="DocumentFile" />*@
    <div class="uk-grid-small uk-child-width-1-1" uk-grid>
        <div>
            <div class="box">
                <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
                    <div class="uk-width-1-1">
                        <label asp-for="ServiceId" class="uk-form-label">خدمت والد نمونه‌کار</label>
                        <select asp-for="ServiceId" class="uk-select uk-border-rounded">
                            <option value="0" selected="selected">لطفا یک خدمت برای نمونه‌کار انتخاب کنید...</option>
                            @foreach (var item in services.Where(a => a.ParentId == 0).OrderBy(a => a.Sort).ToList())
                            {
                                <optgroup label="@item.ServiceTitle">
                                    @foreach (var service in services.Where(a => a.ParentId.Equals(item.ServiceId)).OrderBy(a => a.Sort).ToList())
                                    {
                                        <option value="@service.ServiceId">@service.ServiceTitle</option>
                                    }
                                </optgroup>
                            }
                        </select>
                        <span asp-validation-for="ServiceId" class="uk-text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Title" id="titleLabel" class="uk-form-label"></label>
                        <input asp-for="Title" class="uk-input uk-border-rounded" placeholder="عنوان نمونه‌کار...." />
                        <span asp-validation-for="Title" id="titleValidate" class="uk-text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="MetaTitle" class="uk-form-label"></label>
                        <input asp-for="MetaTitle" class="uk-input uk-border-rounded" placeholder="عنوان نمونه‌کار درسئو...." />
                        <span asp-validation-for="MetaTitle" class="uk-text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="box">
                <div class="uk-grid-small uk-child-width-1-1@s uk-child-width-1-2@m">
                    <div>
                        <label class="uk-form-label">وضعیت فعال؟</label>
                        <div class="uk-margin-small uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-radio" type="radio" name="Status" value="true" checked /> فعال</label>
                            <label><input class="uk-radio" type="radio" name="Status" value="false" /> غیر فعال</label>
                        </div>
                        <span asp-validation-for="Status" class="uk-text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="IsShow" class="uk-form-label"></label>
                        <div class="uk-margin-small uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-radio" type="radio" name="IsShow" value="true" checked /> فعال</label>
                            <label><input class="uk-radio" type="radio" name="IsShow" value="false" /> غیر فعال</label>
                        </div>
                        <span asp-validation-for="IsShow" class="uk-text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="box">
                <div>
                    <label asp-for="LongContent" class="uk-form-label"></label>
                    <textarea asp-for="LongContent" class="uk-input uk-border-rounded"></textarea>
                    <span asp-validation-for="LongContent" class="uk-text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <div class="box">
                <div>
                    <label asp-for="Description" class="uk-form-label"></label>
                    <textarea asp-for="Description" class="uk-input uk-border-rounded"></textarea>
                    <span asp-validation-for="Description" class="uk-text-danger"></span>
                </div>
            </div>
        </div>

        <div>
            <div class="box">
                <div class="uk-grid-small uk-child-width-1-2" uk-grid>
                    <div class="uk-width-1-1 uk-text-center">
                        <div class="uk-grid-medium" uk-grid>
                            <div class="uk-width-auto"> <span><i class="fa fa-image"></i></span> تصویر فعلی </div>
                            <div class="uk-width-expand uk-text-center">
                                <img id="imgSample" width="120" class="uk-border-rounded uk-box-shadow-medium" src="~/img/service/default.png" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-text-center">
                        <div>
                            <label class="uk-form-label">تصویر نمونه‌کار (اندازه مناسب w: px * h: px)</label>
                        </div>
                        <div uk-form-custom="target: true">
                            <a class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: image"></a>
                            <input id="sampleFile" name="sampleFile" accept=".png,.jpg" type="file" aria-invalid="true">
                            <input class="uk-input uk-form-width-large uk-border-rounded" type="text" placeholder="انتخاب کنید ..." disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="uk-text-center uk-margin-medium-top">
    <button class="uk-button uk-button-primary" type="button" onclick="submit()">
        <span>افزودن نمونه‌کار</span><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
</div>

